<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code University - Learn Coding Online</title>

   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   <link href="../static/css/common.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">

</head>

<body>



 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Code University</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <nav>
                <ul class="nav nav-pills pull-right navbar-form navbar-right">
                    <li role="presentation" class="active"><a href="./">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


<div class="jumbotron">
      <div class="container">
          <h1>Code University</h1>
            <p class="lead"></p>
           <p>We’re proud to publish a range of exciting and in-depth courses focused on programming, technology and business skills. All that choice can sometimes be overwhelming though…
<br/>
<br/>
Do you want to be a frontend web designer? Or a backend programmer? Perhaps you want to build your own app, or website, or create a mobile game? Maybe all you want to learn is a new coding language?
<br/>
<br/>
So, no matter what your dream is, find the perfect course for you today.</p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
      </div>
    </div>



        <div class="container" style="height:300px;">
            <div class="col-lg-6">
                <h4>Web Development</h4>
                <p>Web development from scratch in 6 weeks. HTML, JS, CSS, PHP, MySQL, Bootstrap, WordPress, APIs, Mobile Apps all covered. </p>

                <h4>Game Development</h4>
                <p>Learn game development on Unity3D. Create computer games and publish to Android, iOS, XBox, PS4, Oculus Rift & more. </p>

            </div>

            <div class="col-lg-6">
                <h4>iOS Development</h4>
                <p>iOS 8 App Development from scratch in 6 weeks – build full apps including Instagram and Snapchat Clones. With free Ebook </p>

                <h4>Android Development</h4>
                <p>Learn to make Android apps by building real apps including Uber and Instagram clones. Android Wear included! </p>

            </div>
        </div>

        <footer class="footer container text-center">
            <p>&copy; copyright 2015</p>
        </footer>

    </div>


     <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
</body>

</html>